lombok.anyConstructor.addConstructorProperties=true
lombok.copyableannotations+=org.springframework.beans.factory.annotation.Qualifier
lombok.copyableannotations+=org.springframework.beans.factory.annotation.Value
lombok.copyableannotations+=org.jspecify.annotations.Nullable
lombok.copyableannotations+=org.jspecify.annotations.NonNull
lombok.addLombokGeneratedAnnotation=true
lombok.log.fieldName=LOGGER
lombok.extern.findbugs.addSuppressFBWarnings = true
