<package-def>
  <class name="Логгер" file="src/Логгер.os"/>
  <class name="Приложение" file="src/Приложение.os"/>
  <class name="Василий" file="src/Василий.os"/>
  <class name="ДжонниРоттен" file="src/ДжонниРоттен.os"/>
  <class name="СидВишес" file="src/СидВишес.os"/>
  <class name="РеальныйКласс" file="src/РеальныйКласс.os"/>
  <class name="ФабрикаЖелудей" file="src/ФабрикаЖелудей.os"/>
  <class name="АннотацияВнедряемое" file="src/АннотацияВнедряемое.os"/>
  <class name="АннотацияКомпонент" file="src/АннотацияКомпонент.os"/>
  <class name="СовременныйЛоггер" file="src/СовременныйЛоггер.os"/>
  <class name="ПотребительВКонструкторе" file="src/ПотребительВКонструкторе.os"/>
  <class name="Лог" file="src/Лог.os"/>
  <class name="ФабрикаЛогов" file="src/ФабрикаЛогов.os"/>
  <class name="АннотацияЛог" file="src/АннотацияЛог.os"/>
  <class name="АннотацияКонтроллер" file="src/АннотацияКонтроллер.os"/>
  <class name="МойКонтроллер" file="src/МойКонтроллер.os"/>
</package-def>
