<package-def>
  <class name="Логгер" file="src/Логгер.os"/>
  <class name="Приложение" file="src/Приложение.os"/>
  <class name="Василий" file="src/Василий.os"/>
  <class name="ДжонниРоттен" file="src/ДжонниРоттен.os"/>
  <class name="СидВишес" file="src/СидВишес.os"/>
  <class name="РеальныйКласс" file="src/РеальныйКласс.os"/>
  <class name="ФабрикаЖелудей" file="src/ФабрикаЖелудей.os"/>
  <class name="АннотацияВнедряемое" file="src/АннотацияВнедряемое.os"/>
  <class name="АннотацияКомпонент" file="src/АннотацияКомпонент.os"/>
  <class name="СовременныйЛоггер" file="src/СовременныйЛоггер.os"/>
</package-def>
