<package-def>
  <class name="БазовыйИнтерфейс" file="src/БазовыйИнтерфейс.os"/>
  <class name="ПроизводныйИнтерфейс" file="src/ПроизводныйИнтерфейс.os"/>
  <class name="РеализацияБазового" file="src/РеализацияБазового.os"/>
  <class name="РеализацияПроизводного" file="src/РеализацияПроизводного.os"/>
</package-def>
