<package-def>
  <class name="ЦиклА" file="src/ЦиклА.os"/>
  <class name="ЦиклБ" file="src/ЦиклБ.os"/>
  <class name="ИнтерфейсЦиклА" file="src/ИнтерфейсЦиклА.os"/>
  <class name="ИнтерфейсЦиклБ" file="src/ИнтерфейсЦиклБ.os"/>
  <class name="РеализаторЦикла" file="src/РеализаторЦикла.os"/>
</package-def>
