name: Check making image

on:
    push:
        branches:
            - develop
            - feature/check-package


jobs:
    build:
        strategy:
            fail-fast: true
            matrix:
               os: [windows-latest, ubuntu-latest, macOS-latest]
               include:
                    - os: windows-latest
                      displayName: Windows
                      prefix: win
                      app-image: bsl-language-server
                    - os: ubuntu-latest
                      displayName: Linux
                      prefix: nix
                      app-image: bsl-language-server
                    - os: macOS-latest
                      displayName: MacOS
                      prefix: mac
                      app-image: bsl-language-server.app
        runs-on: ${{ matrix.os }}
        name: (${{ matrix.displayName }}) create image app version

        steps:
            - name: Checkout source
              uses: actions/checkout@v5
              with:
                fetch-depth: 0
            - name: Set up JDK
              uses: actions/setup-java@v5
              with:
                java-version: 25
                distribution: 'zulu'
                cache: gradle

            - name: Build bootJar with Gradle
              run: ./gradlew check build

            - name: Build jpackage application image
              run: python .github/scripts/build-jpackage.py ${{ matrix.prefix }} ${{ matrix.app-image }}

            - name: Verify archive size
              run: python .github/scripts/verify-archive-size.py bsl-language-server_${{ matrix.prefix }}.zip


                  
                  
