name: javadoc

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.5
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: 16
        distribution: 'adopt'
    - name: Check javadoc build
      run: ./gradlew javadoc --stacktrace
