name: javadoc

on:
  push:
    branches-ignore:
      - "translations_*"
  pull_request:

jobs:
  gatekeeper:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && startsWith(github.head_ref, 'translations_') == false || github.event_name == 'push'
    steps:
      - run: echo 'Open the Golden Gate'

  build:
    needs: gatekeeper
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: 'temurin'
        cache: gradle
    - name: Check javadoc build
      run: ./gradlew javadoc --stacktrace
