name: Pre-QA

on:
  push:
    branches-ignore:
      - "translations_*"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  gatekeeper:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && startsWith(github.head_ref, 'translations_') == false || github.event_name == 'push'
    steps:
      - run: echo 'Open the Golden Gate'
  build:
    needs: gatekeeper
    runs-on: ubuntu-latest
    steps:
    - name: Save PR number to file
      if: github.event_name == 'pull_request'
      run: echo ${{ github.event.number }} > PR_NUMBER.txt
    - name: Archive PR number
      if: github.event_name == 'pull_request'
      uses: actions/upload-artifact@v5
      with:
        name: PR_NUMBER
        path: PR_NUMBER.txt
