name: Sentry
on:
  push:
    branches-ignore:
      - "translations_**"
      - "dependabot/**"
jobs:

  sentry:
    name: Sentry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create Sentry release
        uses: getsentry/action-release@v2
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
